body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}
.container {
  border: 8px solid #29668b;
  border-radius: 0px 15px 0px 15px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  font-family: "Varela Round", sans-serif;
  color: #29668b;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  padding: 5px;
}

h3 {
  font-family: "Varela Round", sans-serif;
  color: #4bc87f;
  padding: 10px 0px 0px 0px;
  text-align: center;
}
h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #4bc87f;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
#mainPic {
  width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 15px 0px 15px 0px;
  border: 5px solid #29668b;
}
#currentCity {
  color: #29668b;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
#currentCity::first-letter {
  color: #29668b;
  font-size: 2.25rem;
  font-family: "Nova Round", cursive;
}
#showTime {
  color: #29668b;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
#temperature {
  color: #29668b;
  margin: 0 auto;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 35px;
}
.units {
  color: #29668b;
  margin: 0 auto;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: default;
}
a:hover {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
  color: #6eaff7;
}
.stats {
  color: #6eaff7;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0 0 0;
}
.emoji {
  font-size: 35px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 0 0;
}
ul {
  margin: 0;
  padding: 20px 0 0 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6eaff7;
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.future {
  color: #6eaff7;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 0 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.day {
  color: #29668b;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
small {
  font-family: monospace;
  color: grey;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
li:first-letter {
  text-transform: capitalize;
}
